.colored-block.color-1 {
  background-color: #428df5;
}
.colored-block.color-2 {
  background-color: #7afff2;
}

.colored-block.color-3 {
  background-color: #52e354;
}

.colored-block.color-4 {
  background-color: #d0e352;
}

.colored-block.color-5 {
  background-color: #e3ab52;
}

.colored-block.color-6 {
  background-color: #f58e62;
}
.colored-block.color-7 {
  background-color: #f56462;
}

.colored-block.color-8 {
  background-color: #ff689b;
}

.colored-block.color-9 {
  background-color: #ff689b;
}

