.colored-block.color-1 {
  background-color: #F8D7DA;
}
.colored-block.color-2 {
  background-color: #CFE2FF;
}

.colored-block.color-3 {
  background-color: #D7F0DD;
}

.colored-block.color-4 {
  background-color: #FFF3CD;
}

.colored-block.color-5 {
  background-color: #DADCF8;
}

.colored-block.color-6 {
  background-color: #CDF5F1;
}
.colored-block.color-7 {

  background-color: #F5CDF4;
}

.colored-block.color-8 {
  background-color: #F5D9CD;
}

.colored-block.color-9 {
  background-color: #FF689B;
}

